<h1> Добро пожаловать в ресторан правильной еды </h1>

<div class="row">
    <% @products.each do |item| %>
        <div class="col-md-3">
            <div class="cardProduct__block">
                <div>
                    <%= item.title %>
                </div>
                <div class="image-custom">
                    <img class="img-fluid" src="<%= item.path_to_image %>" /> 
                </div>
                <div class="dedcription-paragraph">
                    <%= item.description %>
                </div>
                <div>
                    Цена:<%= item.price %>
                </div>
                <div>
                    Размер(Кол-во):<%= item.size %>
                </div>
                <div><button onclick="addToCart(<%= item.id %>)" class="btn btn-sm btn-success">Добавить в корзину</button></div>
            </div>
        </div>
    <% end %>
</div>
<br />

<script>
    $(document).ready(function() {
        updateOrders();
    });
</script>
<!--<button onclick="locStr()" type="button" class="btn btn-outline-dark btn-custom">Перейти</button>-->
